<div class="col-lg-4">
    <div class="product__discount__item">
        <div class="product__discount__item__pic set-bg"
            data-setbg="{{obj.image.url}}">
            {% if obj.price < obj.market_price %}<div class="product__discount__percent">-%</div>{% endif %}
            <ul class="product__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="product__discount__item__text">
            <span>Dried Fruit</span>
            <h5><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h5>
            <div class="product__item__price">Rs.{{obj.price}} <span>Rs.{{obj.market_price}}</span></div>
        </div>
    </div>
</div>