<div class="col-lg-4">
    <div class="product__discount__item">
        <div class="product__discount__item__pic set-bg"
            data-setbg="{{obj.image.url}}">
            {% if obj.price < obj.market_price %}<div class="product__discount__percent">-{{obj.Discount}}%</div>{% endif %}
        </div>
        <div class="product__discount__item__text">
            <span>Dried Fruit</span>
            <h5><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h5>
            <div class="product__item__price">Rs.{{obj.price}} <span>Rs.{{obj.market_price}}</span></div>
        </div>
    </div>
</div>