<div class="container">
<form class="form-product-ajax-update" method='POST' action='{% url "carts:update" %}' data-endpoint='{% url "carts:update" %}'> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
    <span class="submit-span">
    {% if product in cart.products.all %}
    <button type="submit" class="btn btn-warning btn-lg">Remove</button>
        <!-- <button type='submit' class='primary-btn'>Remove</button> -->
    {% else %}
    <button type="submit" class="btn btn-primary btn-lg">Add to cart</button>
        <!-- <button type='submit'  class='primary-btn'>Add to cart</button> -->
    </span>
        {% endif %}
    
</form>
</div>