<div class="container">
<form class="form-product-ajax-update" method='POST' action='{% url "carts:update" %}' data-endpoint='{% url "carts:update" %}'> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
    <span class="submit-span">
    {% if product in cart.products.all %}
    <button type="submit" class="btn btn-warning btn-lg">Remove</button>
    
    {% else %}
    <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
    </span>
        {% endif %}
        <a href="{% url 'carts:cart-home' %}"><button type="button" class="btn btn-primary">
            Go to cart <span class="badge badge-light">{% if request.session.cart_items %}{{request.session.cart_items}}{% else %}<i class="fa fa-arrow-right" aria-hidden="true"></i>{% endif %}</span>
          </button></a>
    
</form>
</div>