{% extends "home/base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                </h6>
            </div>
        </div>
        <div class="checkout__form">
            <h4>Shipping Details</h4>
            
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        {% if not object.shipping_address %}
                        {% url "checkout_address_reuse" as checkout_address_reuse %}
                        {% include 'addresses/snippets/previous_addresses.html' with address_qs=address_qs next_url=request.build_absolute_url address_type='shipping' action_url=checkout_address_reuse %}
                        {% url "checkout_address_create" as checkout_address_create %}
                        {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_url action_url=checkout_address_create address_type='shipping' %}
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                {% for product in object.cart.products.all %}
                                <li>{{product.title}}<span>Rs.{{product.price}}</span></li>
                                {% endfor %}
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>Rs.{{object.cart.total}}</span></div>
                            <div class="checkout__order__shippingtotal">Shipping <span>Rs.{{object.shippping_total}}</span></div>
                            <div class="checkout__order__total">Total <span>Rs.{{object.total}}</span></div>
                            <ul>
                                <li>Order Id <span>{{object.order_id}}</span></li>
                            </ul>
                            <!-- <p>Remeber the Order Id</p> -->
                            {% if object.shipping_address %}
                            <form action="{% url 'carts:checkout' %}" method="POST">
                                {% csrf_token %}
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    I Accept Terms and Coditions.
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!-- <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Esewa
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                            {% endif %}
                            </form>
                        </div>
                    </div>
         </div>
        </div>
    </div>
</section>




{% endblock %}