{% load crispy_forms_tags %}
<div class="border-top my-3"></div>

<div class="container">
  {% if user.is_authenticated %}
            <div class="card">
                <h3 class="card header p-3">Queries</h3>
                <div class="card-body">
                    <form method="POST" action=".">
                        {% csrf_token %}
                          <div class="form-group">
                            {{comment_form|crispy}}
                        </div>
                        <button type="submit" class="btn btn-primary">POST</button>
                    </form>
                </div>
            </div><br>
            

            {% if comments %}
<h2 class="h2"><span class="badge badge-primary">Comments</span></h2>
    {% for comment in comments %}
    <div class="card">
        <div class="card-header">
          {% ifequal comment.user object.seller %}Seller{% endifequal %}
          {% ifnotequal comment.user object.seller %}Customer{% endifnotequal %}
          <span class="float-right">{{comment.timestamp|timesince}} ago</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{comment.content}}</p>
            <footer class="blockquote-footer">{% if comment.children.count > 0 %}{{comment.children.count}}replies{% endif %}<a class="comment-reply-btn float-right" href="#">Reply</a></footer>
            <div class="comment-reply" style="display: none;">
              {% for child_comment in comment.children %}
        <br>
        <div class="card">
        <div class="card-header">
          {% ifequal child_comment.user object.seller %}Seller{% endifequal %}
          {% ifnotequal child_comment.user object.seller %}Customer{% endifnotequal %}
          <span class="float-right">{{child_comment.timestamp|timesince}} ago</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{child_comment.content}}</p>
          </blockquote>
        </div>
      </div><br>
      {% endfor %}
      
      
      <form method="POST" action=".">
        {% csrf_token %}
          <div class="form-group">
            {{comment_form|crispy}}
            <input type="hidden" name="parent_id" value="{{comment.id}}">
        </div>
        <button type="submit" class="btn btn-primary">Reply</button>
    </form>
      </div>
          </blockquote>
        </div>
      </div><br>
      
      
    {% endfor %}
    {% endif %}

    {% else %}
    <h2 class="h2"><span class="badge badge-primary">Comments</span></h2>
    <p class='login-redirect'><a href="{% url 'login' %}?next={{request.path}}">Login</a> to view and post comments.</p>    
    {% endif %}
    
</div>