{% load crispy_forms_tags %}

<div>
{% if user.is_authenticated %}
            <div class="card">
                <h3 class="card header p-3">Queries</h3>
                <div class="card-body">
                    <form method="POST" action="{% url 'comment' object.id %}">
                        {% csrf_token %}
                        <input type='hidden' name='user_id' value='{{request.user.id}}'>
                        <input type='hidden' name='slug' value='{{object.slug}}'>

                        
                        <div class="form-group">
                            {{comment_form|crispy}}
                            <!-- <textarea class="form-control" name="message" rows="4"></textarea> -->
                        </div>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </form>
                </div>
            </div><br>
            {% endif %}
            {% if comments %}
<h2 class="h2"><span class="badge badge-primary">Comments</span></h2>
    {% for comment in comments %}
    <div class="card">
        <div class="card-header">
          {% ifequal comment.user object.seller %}Seller{% endifequal %}
          {% ifnotequal comment.user object.seller %}Customer{% endifnotequal %}
          <span class="float-right">{{comment.timestamp|timesince}} ago</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{comment.message}}</p>
          </blockquote>
        </div>
      </div><br>
    {% endfor %}
    {% endif %}
</div>