<div class="col-lg-9">
  <div class="hero__search">
    <div class="hero__search__categories_mobile">
      Filters
      <span class="arrow_carrot-down"></span>
    </div>
    <div class="hero__search__form">
      <form action="{% url 'search:search-query' %}" method="GET" class='search-form'>
        <div class="hero__search__categories">
          Filters
          <span class="arrow_carrot-down"></span>
        </div>

        <input type="text" name='q' placeholder="Search the book" value={{query}}>
        <button type="submit" class="site-btn">SEARCH</button>

        <div class="filter-main">

          <!-- Section: Condition -->


          <!-- Section: Price version 2 -->
          <section class="mb-4" style="padding-right:30px;padding-top:20px;">
            <h6 class="font-weight-bold mb-3">Price</h6>
            <div class="price-range-wrap">
              <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                data-min="0.01" data-max="10000">
                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
              </div>
              <div class="range-slider">
                <div class="price-input">
                  <input type="text" id="minamount" name='minamount'>
                  <input type="text" id="maxamount" name='maxamount'>
                </div>
              </div>
            </div>

          </section>
          <!-- Section: Price version 2 -->
          <section class="mb-4" style="text-align: center;">
            <h6 class="font-weight-bold mb-3">Select District</h6>
            <input class="district-input" type="text" list="districts" name='district' style="background-color: blanchedalmond;"
              value="{{district}}" />
            <datalist id="districts">
              <option>None</option>
              <option>Achham</option>
              <option>Arghakhanchi</option>
              <option>Baglung</option>
              <option>Baitadi</option>
              <option>Bajhang</option>
              <option>Bajura</option>
              <option>Banke</option>
              <option>Bara</option>
              <option>Bardiya</option>
              <option>Bhaktapur</option>
              <option>Bhojpur</option>
              <option>Chitwan</option>
              <option>Dadeldhura</option>
              <option>Dailekh</option>
              <option>Dang</option>
              <option>Darchula</option>
              <option>Dhading</option>
              <option>Dhankuta</option>
              <option>Dhanusha</option>
              <option>Dolakha</option>
              <option>Dolpa</option>
              <option>Doti</option>
              <option>Eastern Rukum</option>
              <option>Gorkha</option>
              <option>Gulmi</option>
              <option>Humla</option>
              <option>Ilam</option>
              <option>Jajarkot</option>
              <option>Jhapa</option>
              <option>Jumla</option>
              <option>Kailali</option>
              <option>Kalikot</option>
              <option>Kanchanpur</option>
              <option>Kapilavastu</option>
              <option>Kaski</option>
              <option>Kathmandu</option>
              <option>Kavrepalanchok</option>
              <option>Khotang</option>
              <option>Lalitpur</option>
              <option>Lamjung</option>
              <option>Mahottari</option>
              <option>Makwanpur</option>
              <option>Manang</option>
              <option>Morang</option>
              <option>Mugu</option>
              <option>Mustang</option>
              <option>Myagdi</option>
              <option>Nawalpur</option>
              <option>Nuwakot</option>
              <option>Okhaldhunga</option>
              <option>Palpa</option>
              <option>Panchthar</option>
              <option>Parasi</option>
              <option>Parbat</option>
              <option>Parsa</option>
              <option>Pyuthan</option>
              <option>Ramechhap</option>
              <option>Rasuwa</option>
              <option>Rautahat</option>
              <option>Rolpa</option>
              <option>Rupandehi</option>
              <option>Salyan</option>
              <option>Sankhuwasabha</option>
              <option>Saptari</option>
              <option>Sarlahi</option>
              <option>Sindhuli</option>
              <option>Sindhupalchok</option>
              <option>Siraha</option>
              <option>Solukhumbu</option>
              <option>Sunsari</option>
              <option>Surkhet</option>
              <option>Syangja</option>
              <option>Tanahun</option>
              <option>Taplejung</option>
              <option>Terhathum</option>
              <option>Udayapur</option>
              <option>Western Rukum</option>
            </datalist>
          </section>


          </section>
          <!-- Section: Filters -->
        </div>

      </form>
    </div>
    
  </div>
</div>