<section>

    <!-- Section: Condition -->
    <section class="mb-4">

      <h6 class="font-weight-bold mb-3">Book Condition</h6>

      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="new">
        <label class="form-check-label small text-uppercase card-link-secondary" for="new">Excellent</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="used">
        <label class="form-check-label small text-uppercase card-link-secondary" for="used">Good</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="collectible">
        <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Satisfactory</label>
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input type="checkbox" class="form-check-input filled-in" id="renewed">
        <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Poor</label>
      </div>

    </section>
    <!-- Section: Condition -->


    <!-- Section: Price version 2 -->
    <section class="mb-4">

      <h6 class="font-weight-bold mb-3">Price</h6>

      <div class="slider-price d-flex align-items-center my-4">
        <span class="font-weight-normal small text-muted mr-2">$0</span>
          <input id="multi" class="multi-range" type="range" />
        <span class="font-weight-normal small text-muted ml-2">$100</span>
      </div>

    </section>
    <!-- Section: Price version 2 -->

  

  </section>
  <!-- Section: Filters -->

</section>
<!-- Section: Sidebar -->