{% extends 'home/base/base.html' %}
{% load static %}
{% block base_head %}
<title>{{object.title}} | Purano Kiab</title>
<meta name="description" content="{{object.description|truncatewords:25}}">


{% endblock base_head %}

{% block content %}

<!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img height="550" width="450" class="product__details__pic__item--large"
                                src="{{object.image.url}}" alt="{{object.title}}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{object.title}}</h3>
                        <h6><i>By {{object.author}}</i></h6>
                        <hr>
                        <div class="product__details__price">Rs.{{object.price}}</div>
                        <p><mark> <strong><abbr title="These price may not be accurate.">Market Price</abbr></strong> Rs.{{object.market_price}}</mark></p>
                        

                        <p>{{object.description|truncatechars:300}}</p>
                        <div class="row">
                        
                        {% ifequal user.username object.seller.username %}
                        <a href="{{object.get_absolute_url}}update"><button type="button" class="btn btn-primary btn-lg">Edit Product</button></a>&ensp;
                        <a href="{{object.get_absolute_url}}delete"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete this product"><i class="fa fa-trash-o" style="font-size:30px;color:white"></i></button></a>
                        {% else %}
                        {% include 'products/snippet/update_cart.html' with product=object cart=cart comment_form=comment_form %}
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        {% endifequal %}
                        </div>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping.</span></li>
                            <li><b>Condition</b> <span>{{object.book_condition}}</span></li>
                            <li><b>Market Price</b> <span>Rs.{{object.market_price}}</span></li>
                            <li><b>Pirce for you</b> <span>Rs.{{object.price}}</span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>

                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/intent/tweet?source=webclient&text={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.pinterest.com/pin/create/button/?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}&media={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.image.url}}&description={{object.title}}"data-pin-do="buttonPin"data-pin-config="above">
                                        <i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{object.description}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{object.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'products/components/comments.html' with object=object comments=comments comment_form=comment_form %}

        </div>
    </section>
   
    
    

                
    <!-- Product Details Section End -->


{% endblock content %}