{% extends 'home/base/base.html' %}
{% load static %}
{% block base_head %}
<title>{{object.title}} | Purano Kiab</title>
<meta name="description" content="{{object.description|truncatewords:25}}">
<meta property="og:site_name" content="{{ request.META.HTTP_HOST }}">
<meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}">
<meta property="og:type" content="Books">
<meta property="og:title" content="{{object.title}}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.image.url}}">
<meta property="og:imageurl" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.image.url}}">

{% endblock base_head %}

{% block content %}

<!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            {% if user.username != object.seller.username %}<div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Disclaimer </strong> The price and other details of this book is provided by the user like you. Cross verify the price once before you buy.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>{% endif %}
            {% if user.username != object.seller.username and object.price < object.market_price %}<div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Hola {% if user.is_authenticated %}{{user.first_name}}{% endif %}!</strong> You will save Rs.<strong>{{ object.Diff }}</strong> buying this book from here. Buy now before it disappears.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>{% endif %}
            <div class="row">
                
                <div class="col-lg-6 col-md-6">
                    
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img height="550" width="450" class="product__details__pic__item--large"
                                src="{{object.image.url}}" alt="{{object.title}}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{object.title}}</h3>
                        <h6><i>By {{object.author}}</i></h6>
                        <hr>
                        <div class="product__details__price">Rs.{{object.price}}</div>
                        <mark> <strong>Market Price</strong> Rs.{{object.market_price}}</mark><br><br>
                        Book Condition: <span class="badge badge-pill badge-info" >{{object.book_condition|title}}</span><br>
                        Seller: <a href="{% url 'user:user_detail' object.seller %}" class="badge badge-dark">{{object.seller}}</a>
                        <br>
                        <br>
                        <p>{{object.description|truncatechars:300}}</p>
                        <div class="row">
                        
                        {% ifequal user.username object.seller.username %}
                        <a href="{{object.get_absolute_url}}update"><button type="button" class="btn btn-primary btn-lg">Edit Product</button></a>&ensp;
                        <a href="{{object.get_absolute_url}}delete"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Delete this product"><i class="fa fa-trash-o" style="font-size:30px;color:white"></i></button></a>
                        {% else %}
                        {% include 'products/snippet/update_cart.html' with product=object cart=cart comment_form=comment_form %}
                        {% endifequal %}
                        </div>
                        <ul>
                            <li><b>Publication</b> <span>{{object.publication}}</span></li>
                            <li><b>Shipping</b> <span>Not included</span></li>


                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/intent/tweet?source=webclient&text={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.pinterest.com/pin/create/button/?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}&media={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.image.url}}&description={{object.title}}"data-pin-do="buttonPin"data-pin-config="above">
                                        <i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{object.description}}</p>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <div class="container">
                                        <div class="row">
                                          <div class="col">
                                            <table class="table table-hover ">
                                        
                                                <tr class="table-info">
                                                  <th scope="col">Book Title</th>
                                                  <td>{{object.title}}</td>
                                                </tr>
                                                <tr class="table-light">
                                                  <th scope="row">Author</th>
                                                  <td>{{object.author}}</td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th scope="row">Publication</th>
                                                    <td>{{object.publication}}</td>
                                                  </tr>
                                                  <tr class="table-light">
                                                    <th scope="row">Published Date</th>
                                                    <td>{{object.published_date}}</td>
                                                  </tr>
                                                  
                                                
                                              
                                            </table>
                                          </div>
                                          <div class="col">
                                            <table class="table table-hover">
                                                <tr class="table-info">
                                                    <th scope="row">Seller</th>
                                                    <td><a href="{% url 'user:user_detail' object.seller %}">{{object.seller.username}}</a></td>
                                                  </tr>
                                                <tr class="table-light">
                                                    <th scope="col">Price for you</th>
                                                    <td>Rs. {{object.price}}</td>
                                                  </tr>
                                                  <tr class="table-info">
                                                    <th scope="row">Market Price</th>
                                                    <td>Rs. {{object.market_price}}</td>
                                                  </tr>
                                                  <tr class="table-light">
                                                    <th scope="row">Book Condition</th>
                                                    <td>{{object.book_condition|title}}</td>
                                                  </tr>
                                                
                                              
                                            </table>
                                          </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <hr style="width: 100%; color: black; height: 1px; background-color:black;">
            <br>

            {% include 'products/components/comments.html' with object=object comments=comments comment_form=comment_form %}
            
            <br>
            
            <hr style="width: 100%; color: black; height: 1px; background-color:black;">
            <br>

                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Books for you</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for obj in users_other_products %}

                        {% include 'products/snippet/featured_product_display.html' with obj=obj %}

                        {% endfor %}
                           
        
                        </div>
                    </div>
                </div>
        </div>
        
    </section>
   
    
    

                
    <!-- Product Details Section End -->


{% endblock content %}