{% extends 'home/base/base.html' %}

{% block content %}

{% block base_head %}

<title>Buy 2nd Books Nepal | Purano Kitab</title>

{% endblock base_head %}

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row" style="align-items: center;justify-content: center;">
            <div class="col-lg-12 col-md-12">
                {% if featured_product.count > 3 %}
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Featured Books</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for obj in featured_product %}

                        {% include 'products/snippet/featured_product_display.html' with obj=obj %}

                        {% endfor %}
                           
        
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    {% for obj in object_list %}

                    {% include 'products/snippet/product_box_display.html' with obj=obj %}

                    {% endfor %}

                <div class="container">
                <!-- <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div> -->
                
                {% if is_paginated %}

                {% if page_obj.has_previous %}
                  <a class="btn btn-outline-info mb-4" href="?page=1">1</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                {% endif %}
          
                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                {% endfor %}
          
                {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
          
              {% endif %}
            </div>
        </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock content %}