{% load static %}
<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css">