{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css">

